body,
html {
  height: 100%;
  margin: 0;
}

body#google {
  cursor: url("https://cdn.glitch.global/e92d15c5-300d-4e12-93f2-af532818c729/cursor_genomskinlig_4.png?v=1676902871957"),
    auto;
  height: 100vh;
  width: 100vw;
  background: transparent
    radial-gradient(
      at calc(var(--mouse-x, 0) * 100%) calc(var(--mouse-y, 0) * 100%),
      rgba(174, 214, 123, 0.5),
      rgba(241, 255, 224, 0.5)
    )
    no-repeat 0 0;
  overflow: hidden;
}

/* 
                                                 ...:~!~^:.       
                                              ..^^^^~^:^!77!^^.    
                                             .::::::^???GBG?^^!PY:  
                                             ^!::::::^7Y5J?!^^^7PG^ 
                                            .:77!!J7^!!!^^^^~~!~7GP.
                                           ::^755GP~:~?Y!:::~~7~~YG?
                                           .:~~?JY~^!!^!Y?^^7?^:^J#7
                                            .:^~~^^~!:::^~^JJ7!^!YP.
                                           .~^!!?YJ!???~!7??PY!JY5.
                                             .^!!7PG?Y577YJ!!Y5YY?: 
                                              :^!77!7J7!777J?J?^   
                                                .:^7J7?!7!!~:.     

*/

body#index {
  background-image: url(https://cdn.glitch.global/e92d15c5-300d-4e12-93f2-af532818c729/positiona%CC%88ndring.jpg?v=1676456217756);
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: gray;
}

  /* 
        ...:~!~^:.       
    ..^^^^~^:^!77!^^.    
  .::::::^???GBG?^^!PY:  
  ^!::::::^7Y5J?!^^^7PG^ 
 .:77!!J7^!!!^^^^~~!~7GP.
::^755GP~:~?Y!:::~~7~~YG?
.:~~?JY~^!!^!Y?^^7?^:^J#7
 .:^~~^^~!:::^~^JJ7!^!YP.
 .~^!!?YJ!???~!7??PY!JY5.
  .^!!7PG?Y577YJ!!Y5YY?: 
    :^!77!7J7!777J?J?^   
      .:^7J7?!7!!~:.     
  */



#image {
  opacity: 0.5;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.follower {
  position: absolute;
  left: 0;
  top: 0;
  margin: 25px;
  width: 125px; 
  height: auto;
  
}

#myButton {
  display: block;
  font-size: 50px;
  width: 400px;
  height: 160px;
  background-color: rgba(66, 133, 244);
  color: white;
  border: none;
  border-radius: 20px;

  
  /* 
                              ...:~!~^:.       
                           ..^^^^~^:^!77!^^.    
                         .::::::^???GBG?^^!PY:  
                         ^!::::::^7Y5J?!^^^7PG^ 
                       .:77!!J7^!!!^^^^~~!~7GP.
                       ::^755GP~:~?Y!:::~~7~~YG?
                      .:~~?JY~^!!^!Y?^^7?^:^J#7
                       .:^~~^^~!:::^~^JJ7!^!YP.
                       .~^!!?YJ!???~!7??PY!JY5.
                        .^!!7PG?Y577YJ!!Y5YY?: 
                          :^!77!7J7!777J?J?^   
                            .:^7J7?!7!!~:.     

*/
  
  margin: auto;

  position: relative;
  top: 54%;
  transform: translateY(-50%);
  cursor: pointer;
}

#myButton:hover {
  background-color: rgba(15, 157, 88);
}

#myButton:active {
  background-color: red;
}



 

  #webring {
  background-color: none;
  display: flex;
  position: fixed;
  bottom: 1vh;
  left: 50%;
  transform: translateX(-50%);
  width: 50vw;
  height: 60vh;
  text-align: center;
  font-size: 10px;
  line-height: 1em;
  font-family: "pixel", arial;
  transform: scaleX(-1);
  unicode-bidi: bidi-override;
  direction: rtl;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
  z-index: 200;
  margin-left: -30vw;
  
}

      
#webring-left,
#webring-right,
#webring-middle{
 
  height: 50px;
  
 
  
  
}





