body,
html {
  height: 100%;
  margin: 0;
}

body#google {
  cursor: url("https://cdn.glitch.global/6804417f-6c52-4434-9c34-3a39a98168f8/cursor_genomskinlig_3.png?v=1675782185102"),
    auto;
  height: 100vh;
  width: 100vw;
  background: transparent
    radial-gradient(
      at calc(var(--mouse-x, 0) * 100%) calc(var(--mouse-y, 0) * 100%),
      rgba(174, 214, 123, 0.5),
      rgba(241, 255, 224, 0.5)
    )
    no-repeat 0 0;
  overflow: hidden;
}

body#index {
  background-image: url(https://cdn.glitch.global/fe038f99-151e-468c-a346-47055de90b4f/fo%CC%88rsta%20sidan%20utan%20knapp.jpg?v=1675951090908);
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: gray;
}

#image {
  opacity: 0.5;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.follower {
  position: absolute;
  left: 0;
  top: 0;
  margin: 25px;
}

#myButton {
  display: block;
  font-size: 50px;
  width: 400px;
  height: 160px;
  background-color: rgba(66, 133, 244);
  color: white;
  border: none;
  border-radius: 20px;

  margin: auto;

  position: relative;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

#myButton:hover {
  background-color: rgba(15, 157, 88);
}

#myButton:active {
  background-color: red;
}
