body {
  body, html {
  height: 100%;
  margin: 0;
}

  cursor: url("https://cdn.glitch.global/6804417f-6c52-4434-9c34-3a39a98168f8/cursor_genomskinlig_3.png?v=1675782185102"), auto;

  
}

#image {
  opacity: 0.5;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.follower {
  position: absolute;
  left: 0;
  top: 0;
}

